html {
	margin: 0px; padding: 0px; height: 100%; overflow: hidden; font-family: Arial; min-height: 550px; min-width: 1000px; -ms-user-select: none; background-color: rgb(250, 250, 250); -webkit-user-select: none; -moz-user-select: -moz-none; user-select: none;
}
body {
	margin: 0px; padding: 0px; height: 100%; overflow: hidden; font-family: Arial; min-height: 550px; min-width: 1000px; -ms-user-select: none; background-color: rgb(250, 250, 250); -webkit-user-select: none; -moz-user-select: -moz-none; user-select: none;
}
div {
	display: none;
}
#display {
	width: 100%; height: 20px; text-align: center; bottom: 0px; border-top-color: rgb(192, 192, 192); border-top-width: 1px; border-top-style: solid; display: none; position: absolute; z-index: 400; background-color: rgba(0, 0, 0, 0.5);
}
#blockHolder {
	display: none;
}
#left {
	left: 0px;
}
#leftOverlay {
	left: 0px;
}
#right {
	right: 0px;
}
#rightOverlay {
	right: 0px;
}
.lane {
	top: 0px; width: 50px; height: 100%; position: absolute; z-index: 10;
}
#levelSelector {
	display: none;
}
#levelMiniSelector {
	display: none;
}
